Shape {
    -fx-fill: white;
    -fx-font-size: 12px;
    -fx-text-alignment: left;

}

#leftPane{
    -fx-background-color: #bc7533;
}
#rightPane{
    -fx-background-color: #73ea11;
}

/*these styles */
.tableHeader {
    -fx-fill: white;
    -fx-alignment: center-left;
}

table-cell .tableHeader {
    -fx-fill: white;
}

.table-column {
    -fx-alignment: LEFT;
}