
#leftPane{
    -fx-background-color: #bc7533;
}
#rightPane{
    -fx-background-color: #73ea11;
}

.table-view {
    -fx-background-color: white;
}

.table-view .column-header-background .label {
    -fx-font-size: 10px;

}

#menubar {
    -fx-background-color: #96441b;
}

#bottomBar{
    -fx-fill: #b4b4b4;
    -fx-stroke: transparent;
}

.input-fields {
    -fx-max-height: 50;
}

#clearButton, #addButton, #deleteButton, #editButton{
    -fx-background-color: #bc7533;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#idColumn, firstNameColumn, lastNameColumn, departmentColumn, majorColumn, emailColumn {
    -fx-text-alignment: LEFT;
}